* {
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
}


.nav-flex {
      background-color: rgb(32, 32, 32);
      padding: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;

}

.nav-menu {
      list-style: none;
      display: flex;
      cursor: pointer;

}

.home-margin:hover {
      color: aqua;
}


.home-margin {
      margin-right: 15px;
      padding: 6px;

}

.img-size {
      width: 180px;
}

.nav-color {
      color: white;
}


/* Banner section */

.Banner-flex {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-image: url("/Digital-Product-b8-test-main/images/background.png"), linear-gradient(45deg, #000, #272727);
      height: 500px;
      color: white;


}

.bannaer-size {
      width: 300px;
}

.Bigger-text {
      font-size: 50px;

      /* color: white; */

}

.button-margin {
      padding: 10px 10px;
      background-color: rgb(235, 32, 32);
      margin-top: 15px;
      padding: 10px;
      border: none;
}

.paragraph-margin {
      margin-top: 10px;
}


/* section part start from here */

.about-text {
      text-align: center;
      margin-top: 20px;
      font-size: 50px;
      font-weight: bold;
}

.section-image-size {
      width: 230px;
}

.section-part-flex {
      display: flex;
      /* flex-direction: row-reverse; */
      margin-top: 55px;
      justify-content: space-around;
      align-items: center;
}

.contact-button {
      margin-top: 16px;
      background-color: rgb(235, 32, 32);
      padding: 9px;
      border: none;
}

.margin-the-text {
      margin-bottom: 15px;
      font-size: 25px;
}


/* service section css start from here */
.sercive-text {
      text-align: center;
      margin-top: 40px;
      font-size: 50px;
      font-weight: bold;
      color: white;
      padding-top: 50px;

}

.service-section-background {
      background-color: #000;
      width: 200px;
      color: white;
      text-align: center;
      padding: 20px;
      border-radius: 9px;



}

.icon-1 {
      width: 100px;

}

.service-section-height {
      height: 600px;
      background-color: rgb(32, 32, 32);
      height: 800px;



}

.send-all-center {
      align-items: center;
      margin: 10px;
      margin-top: 100px;
      box-shadow: 5px 5px 5px 5px rgb(53, 53, 53);

}

.service-flex {
      display: flex;
      justify-content: space-around;


}

.service-button-css {
      border: none;
      background-color: rgb(235, 32, 32);
      margin-top: 10px;
      padding: 5px;

}