* {
      margin: 0;
      padding: 0;
}


.nav-flex {
      background-color: black;
      padding: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;

}

.nav-menu {
      list-style: none;
      display: flex;

}

.home-margin {
      margin-right: 15px;
      padding: 6px;

}

.img-size {
      width: 180px;
}

.nav-color {
      color: white;
}